@import '../../index.scss';

.button { 
  width: 146px;
  height: 35px;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 7px;

  border: none;
  border-radius: $border-radius-small;
  background: $btn-primary;

  font-family: 'MyriadPro-Regular', sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: $text-light;
  
  &:active {
    box-shadow: $box-shadow-button;
    transform: translateY(3px);
  }
}