@import '../../../index.scss';

.menulink__link {
  padding: 7px 15px 7px 9px;

  display: flex;
  justify-content: space-between;

  background-color: none;
  border: 1px solid transparent;
  user-select: none;

  &:hover {
    background-color: $bg-sidebar-text-hover !important;
  }

  &:hover .menulink__link-titleAndBurger-burger {
    visibility: visible;
  }
}

.menulink__link-titleAndBurger {
  display: flex;
  align-items: center;
  gap: 5px;
}

.menulink__link-titleAndBurger-burger {
  visibility: hidden;
}

.menulink__subtitles {
  padding: 14px 25px;

  display: flex;
  flex-direction: column;
  gap: 14px;
  
  color: $text-info-emphasis;
  background-color: $bg-sidebar-dropdown;
}

.menulink__subtitles-option {
  width: fit-content;
}