@import '../../index.scss';

.menulink__link {
  padding: 7px 15px 7px 9px;

  display: flex;
  justify-content: space-between;

  background-color: none;
  border: 1px solid transparent;
  user-select: none;
}

.menulink__link:hover {
  background-color: $bg-sidebar-text-hover !important;
}

.menulink__link-titleAndBurger {
  display: flex;
  align-items: center;
  gap: 5px;
}

.menulink__link-titleAndBurger-burger {
  visibility: hidden;
}

.menulink__link:hover .menulink__link-titleAndBurger-burger {
  visibility: visible;
}

.menulink__link-titleAndBurger-title {
  background-color: transparent;
}

.menulink__subtitles {
  padding: 14px 25px;
  display: flex;
  flex-direction: column;
  gap: 14px;
  background-color: $bg-sidebar-dropdown;
  color: $text-info-emphasis;
}

.menulink__subtitles-option {
  width: fit-content;
}