@import '../../index.scss';

.menulink__link {
  padding: 7px 15px 7px 25px;

  display: flex;
  justify-content: space-between;
}

.menulink__subtitles {
  padding: 14px 25px;
  display: flex;
  flex-direction: column;
  gap: 14px;
  background-color: $bg-sidebar-dropdown;
  color: $text-info-emphasis;
}

.menulink__subtitles-option {
  width: fit-content;
}

.pointer {
  cursor: pointer;
}