@import '../../index.scss';

.modal-window {
  position: absolute;
  top: 100px;
  
  width: 179px;

  background-color: $bg-white;

  border-radius: $border-radius-small;
  box-shadow: $box-shadow-default;
}

.modal-window__item {
  padding: 7px 10px;
  display: flex;
  justify-content: space-between;
  gap: 5px;

  font-family: "MyriadPro-Regular", sans-serif;
  font-size: 14px;
  font-weight: 400;

  &:first-child {
    border-radius: 5px 5px 0 0;
  }

  &:last-child {
    border-radius: 0 0 5px 5px;
  }

  &:hover {
    background-color: $bg-modal-window;
  }
}