@import url('https://fonts.cdnfonts.com/css/verdana');
@import url('https://fonts.cdnfonts.com/css/myriad-pro');

$btn-primary: #2F8CFF; // Добавить строку

// TEXT COLORS
$text-dark: #000000;
$text-light: #FFFFFF;
$text-danger: #AE0A0A; // Удалить
$text-primary: #0584FE; // Вернуться
$text-warning: #FD8301; // sidebar btn - Аналитика (on focus)
$text-info: #1253A2; // Общее, Доп. расходы
$text-info-emphasis: #A6B7D4; // side bar - Справочник, База, Ваза
$text-secondary-emphasis: #8F8F8F; // Сумма, Количество, Общий вес

// BACKGROUND COLORS
$bg-white: #FFFFFF;
$bg-light: #FBFCFD;
$bg-light-secondary: #F6F5F3; // Some inputs right end & Menu items on phone resolution
$bg-sidebar-dropdown: #1F344A;
$bg-sidebar-text-hover: #1F2123;
$bg-sidebar: radial-gradient(circle at top, #000000 0%, #1c2734 100%);

// BORDER COLORS
$border-dashed: #A6B7D4;
$border-solid: #EEEFF1;
$inputs-border: #CCCCCC;
$columns-border: #979797;
$sidebar-footer-border: #2C3D51;

//BOX SHADOW 
$box-shadow-default: 0px 0px 3px,
  inset 0px 1px 2px rgba(255, 255, 255, 0.5);

* {
  margin: 0;
  box-sizing: border-box;
}